.category {
  padding: 50px 0px;
}

p {
  color: #494949;
}

.category-text {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  padding: 0px 50px 50px 50px;
}

.category-title {
  font-size: 30px;
}

.category-description {
  width: 670px;
  margin: 0 auto;
}

.category-images {
  column-count: 4;
  margin-bottom: 45px;
}

.card {
  padding-top: 35px;
  margin-bottom: 15px;
  border: none !important;
}

.card {
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.card-img-top {
  height: 290px;
  margin-bottom: 6px;
}

.card-body {
  padding: 0px !important;
}

.card-title {
  text-align: left;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 0px;
}

.card-text {
  text-align: left;
  font-size: 12px;
}

.custom-card-ribbon {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 100px solid #f9f9f9;
  border-right: 100px solid transparent;
}

@media only screen and (max-width: 900px) {
  .category-images {
    column-count: 2;
  }
}

@media only screen and (max-width: 600px) {
  .category-images {
    column-count: 1;
  }

  .category-description {
    width: 280px;
  }
}
