.navbar-brand, .nav-link {
    color: #ffffff !important;
}

.navbar-brand img {
    width: 90px;
    height: 30px;
}

.custom-header {
    background-color: #2A2726;
    height: 70px;
    padding: 10px 40px !important;
}

.custom-menu {
    background-color: #FCFBFA;
    position: absolute !important;
    width: 100%;
    padding: 10px 40px !important;
}

.custom-menu .navbar-brand {
    color: #575757 !important;
}

.custom-menu .nav-link {
    color: #929292 !important;
}

.custom-menu .nav-link:hover {
    color: #3E3E3E !important;
}

.mobile-nav {
    background-color: #2A2726;
    position: absolute;
    width: 100%;
    left: 0;
    top: 70px;
}

.custom-header-menu svg {
    margin-left: 5px;
}