.carousel-item {
  background-color: #1e1e1e;
  padding: 40px 360px;
}

.carousel-item p {
  color: #ffffff;
  margin: 0px;
}

.carousel-caption {
  position: relative !important;
  right: unset !important;
  bottom: unset !important;
  left: unset !important;
  margin-bottom: 60px;
}

.custom-carousel-quote {
  color: #0596d6;
  font-size: 80px;
}

.custom-carousel-title {
  margin-left: 30px !important;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}

.custom-carousel-author {
  text-align: right;
  font-size: 20px;
  color: #0596d6 !important;
}

.carousel-indicators li {
  width: 6px !important;
  height: 6px !important;
  background-color: transparent !important;
  border-radius: 50% !important;
  border: 1px solid #0596d6 !important;
}

.carousel-indicators .active {
  background-color: #0596d6 !important;
}

@media only screen and (max-width: 600px) {
  .carousel-caption {
    margin-bottom: 20px;
  }

  .carousel-item {
    padding: 40px;
  }

  .custom-carousel-author {
    margin-top: 20px !important;
  }
}