.custom-footer  a, .custom-footer p, .custom-footer span {
  color: #747475 !important;
}

.custom-footer ul, .custom-footer p {
  margin: 0px !important;
  padding: 0px;
}

.custom-footer {
  justify-content: space-between;
  background-color: #151515;
  padding: 20px 60px !important;
}

.custom-footer-contact ul {
  list-style-type: none;
}

.dropdown button {
  color: #747475 !important;
  background-color: transparent !important;
  border: none !important;
}

.dropdown button:focus {
  box-shadow: unset !important;
}

.custom-footer-social {
  margin-left: 15px !important;
}

.custom-footer-social li {
  margin-left: 20px;
}

.custom-footer-contact-list a {
  margin: 0 10px;
}

@media only screen and (max-width: 600px) {
  .custom-footer {
    padding: 20px 20px !important;
  }

  .custom-footer-contact {
    flex-direction: column;
  }

  .custom-footer-contact-list {
    flex-direction: column;
  }

  .custom-footer-social {
    padding: 20px 0px !important;
    justify-content: center;
  }

  .custom-footer-copyright {
    flex-direction: column;
  }
}