.custom-advertisement {
  padding: 50px 430px;
  justify-content: space-around;
}

.custom-advertisement-title {
  font-size: 33px;
}

@media only screen and (max-width: 600px) {
  .custom-advertisement {
    padding: 50px 50px;
    flex-direction: column;
  }
}